* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.w-35 {
    width: 35%;
}

.bg-logo{
    background-color: #D90368;
}

.li-none {
    list-style: none;
}