* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-image: url(../img/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}

header>h1 {
    padding: 1rem;
    font-size: 4rem;
}

main>div {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
}

figure {
    position: relative;
    text-align: end;
    margin-right: 15rem;
    bottom: -11rem;
}

figure>img {
    width: 8rem;
    background-color: black;
}

section {
    display: flex;
}

.nav {
    background-color: black;
    padding-left: 2rem;
    /* flex-grow: 2; */
    width: 20%;
    height: 100vh;
}

.nav>a {
    display: block;
    margin: 3rem 0rem;
    text-decoration: none;
    color: white;
}

.content {
    width: 80%;
    padding: 5rem;
    /* flex-grow: 8; */
}

.content>div{
    margin: 1rem;
}