* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.w-12r {
    width: 12rem;
}

.bg-logo {
    background-color: #D90368;
}

.cl-logo {
    color: #D90368;
}

.ch-logo:checked{
    accent-color: #D90368;
}

.in-color {
    border: 2px solid black;
}

.in-color:focus {
    border: #D90368;
    border-color: #D90368;
    box-shadow: 0 1px 1px #D90368 inset, 0 0 8px #D90368;
}

.br-color {
    border-color: #D90368;
    box-shadow: 0 1px 1px #D90368 inset, 0 0 8px #D90368;
}

.sc {
    transition: all 0.3s;
}

.sc:hover {
    transform: scale(1.5);
}

.li-none {
    list-style: none;
}

.tarjeta {
    width: 22rem;
    min-height: 28rem;
}